.product-title {
  font-size: 22px;
}
.product-description {
  font-size: 18px;
}
.product-features {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 25px;
}
.red {
  color: red
}
.product {
  height: 100%;
  padding: 20px 0;
}
.product-title {
  font-size: 22px;
  margin-bottom: 15px;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}
.product-description {
  font-size: 18px;
  margin-bottom: 15px;
}
.product-features {
  font-size: 17px;
  margin-bottom: 10px;
}
.product-price {
  font-size: 25px;
  text-align: center;
}
.btns-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image {
text-align: center;
margin-bottom: 15px;
img {
  width: 150px;
  height: auto;
}
}

.product-quantity {
display: flex;
margin-top: 10px;
input {
  text-align: center;
}
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5);
}
.popup__body {
  padding: 30px;
  background-color: #fff;
  text-align: center;
}